@{
    ViewBag.Title = "区域报告";
}
@section scripts{

    @Scripts.Render("~/bundles/highcharts");

    <script type="text/javascript">

        $(function () {
            $('#area').addClass('active');
            fn_init_charts();
            fn_search_shop_charter();
        });

        function fn_search_shop_charter() {
            $.ajax({
                type: "post",
                url: "@Url.Action("SearchAreaCharter", "Home")",
                async: false,
                dataType: "json",
                data: { projectCode: "@ViewBag.ProjectCode", areaCode: '@ViewBag.AreaCode' },
                beforeSend: function (XMLHttpRequest) {
                    $('#load_modal').modal({ backdrop: 'static', keyboard: false });
                },
                success: function (data) {
                    if (data == null) {
                        $(".border_under_title").hide();
                        alert("没有数据");
                        return;
                    } else {
                        $(".border_under_title").show();
                    }

                    if (data.sixty_info != null) {
                        var sixty_l = $("#sixty_l");
                        sixty_l.empty();
                        $(data.sixty_info.sixty_l).each(function (index, item) {
                            sixty_l.append(this.CharterName + "、");
                        });
                        var sixty_h = $("#sixty_h");
                        sixty_h.empty();
                        $(data.sixty_info.sixty_h).each(function (index, item) {
                            sixty_h.append(this.CharterName + "、");
                        });
                        if (data.sixty_info.sixty_l == null)
                            sixty_l.append("无");
                        if (data.sixty_info.sixty_h == null)
                            sixty_h.append("无");
                    }

                    if (data.charter_report != null) {
                        var chart2 = $('#point2container').highcharts();

                        chart2.xAxis[0].setCategories(data.charter_report.categories);

                        while (chart2.series.length > 0) {
                            chart2.series[0].remove();
                        }
                        var colors = ['#7CB5EC', '#FF6347', '#32CD32'];// '#6A5ACD',
                        $(data.charter_report.scores).each(function (index, item) {
                            chart2.addSeries({
                                type: this.Code == "小区" ? 'bar' : 'line',
                                name: this.Code,
                                color: colors[index],
                                marker: {
                                    symbol: 'circle'//点形状
                                },
                                data: this.Score
                            }, true, true);
                        });
                    }

                    if (data.charter != null) {
                        var tab = $('#myTabs');
                        tab.empty();
                        $(data.charter).each(function (index, item) {
                            var li = $('<li role="presentation" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" ><a href="#" aria-controls="tab_panel" role="tab" data-toggle="tab"></a></li>');
                            li.find("a").attr("href", "#" + this.CharterCode).html(this.CharterName);
                            tab.append(li);
                        });
                        $('#myTabs a').click(function (e) {
                            e.preventDefault()
                            $(this).tab('show');
                            var code = $(this).attr("href").replace('#', '');
                            fn_search_shop_subject_score(code);
                        });
                        $('#myTabs a:first').tab('show');
                        $('#myTabs a:first').click();
                        $("#table2").show();
                    } else {
                        $("#table2").hide();
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $('#load_modal').modal('hide');
                }
            });
        }

        function fn_search_shop_subject_score(code) {
            $.ajax({
                type: "post",
                url: "@Url.Action("SearchAreaSubjectScore", "Home")",
                async: true,
                dataType: "json",
                data: { projectCode: "@ViewBag.ProjectCode", areaCode: '@ViewBag.AreaCode', charterCode: code },
                beforeSend: function (XMLHttpRequest) {

                },
                success: function (data) {
                    var tbody = $("#table2 tbody");
                    tbody.empty();
                    $(data).each(function (index, item) {
                        var tr = $("<tr></tr>");
                        tr.append($("<td style='text-align: center;'>" + this.SubjectCode + "</td>"));
                        tr.append($("<td>" + this.CheckPoint + "</td>"));
                        tr.append($("<td style='text-align: center;'>" + this.Score + "</td>"));
                        tbody.append(tr);
                    });
                },
                complete: function (XMLHttpRequest, textStatus) {
                }
            });
        }

        function fn_init_charts() {

            $('#point2container').highcharts({
                chart: {
                    borderColor: '#dddddd',
                    borderWidth: 1,
                    type: 'bar'
                },
                title: {
                    text: '总体与环节得分'
                }, xAxis: {
                    title: {
                        text: null
                    },
                    categories: [],
                    allowDecimals: false,
                    plotLines: [{
                        value: 0,
                        width: 0,
                        color: '#808080'
                    }]
                },
                yAxis: {
                    title: {
                        text: '分数'
                    },
                    min: 0,
                    max: 100,
                    tickInterval: 10,
                    allowDecimals: false,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ' 分',
                    shared: false
                },
                plotOptions: {
                    bar: {
                        //pointWidth: 10,
                        dataLabels: {
                            enabled: false,
                            inside: true,
                            align: 'left',
                            verticalAlign: 'middle'
                        }
                    }
                },
                legend: {
                    layout: 'vertical',//horizontal，vertical
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                credits: {
                    enabled: false
                }
            });
        }

    </script>
}

<div class="row" style="margin-top:10px;">
    <div class="col-md-12">

        <div>
            当前区域: @ViewBag.AreaCode
        </div>
        <div class="title_header">
            <h3>总体情况 <small id="project_info">(@ViewBag.ForNo)</small></h3>
        </div>
        <div class="border_under_title">
            <div class="title">
                <h3>总体与环节得分</h3>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-3">
                    <ul>
                        <li>
                            <strong>高于总得分的环节为：</strong>
                            <ul>
                                <ui id="sixty_h">

                                </ui>
                            </ul>
                        </li>
                        <li>
                            <strong>低于总得分的环节为：</strong>
                            <ul>
                                <ui id="sixty_l">

                                </ui>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="col-md-9">
                    <div id="point2container"></div>
                </div>
            </div>
            <div class="row" style=" margin-left: 3px;margin-right: 2px;">
                <!-- Nav tabs -->
                <ul id="myTabs" class="mytabs" role="tablist"></ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab_panel">
                        <table id="table2" style="width: 100%;display:none" class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <td width="10%">体系号</td>
                                    <td>检查点</td>
                                    <td width="10%">得分</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>