<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ben-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;padding:0px;" href="/"><img src="~/Images/logo.png" width="50" height="50" style="margin-right:5px;"/>梅赛德斯-奔驰销售明采调研</a>
            </div>
            <div class="navbar-collapse collapse" id="ben-navbar-collapse-1">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 梅赛德斯</p>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="load_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/Images/load.gif" /><span id="load_text" style="margin-left:5px;">请稍后，正在加载中...</span>
                </div>
            </div>
        </div>
    </div>

    @if (Request.IsAuthenticated)
    {
        if (ViewBag.TreeNode != null)
        {//treeview
            Report4Car.Dtos.TreeNode node = ViewBag.TreeNode as Report4Car.Dtos.TreeNode;
            <div id="sidebar">
                <div id="area_tree_div">
                    <ul id="tree_view" class="treeview">
                        <li id="root_menu" class="collapsable open lastCollapsable">
                            <div class="hitarea open-hitarea expandable-hitarea lastExpandable-hitarea"></div>@node.Name
                            <ul>
                                @if (node.Nodes != null && node.Nodes.Count > 0)
                                {
                                    foreach (Report4Car.Dtos.TreeNode big in node.Nodes)
                                    {
                                        <li class="expandable lastExpandable">
                                            <div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>@big.Name
                                            <ul style="display: none;">
                                                @if (big.Nodes != null && big.Nodes.Count > 0)
                                                {
                                                    foreach (Report4Car.Dtos.TreeNode small in big.Nodes)
                                                    {
                                                        <li class="expandable lastExpandable">
                                                            <div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
                                                            @if (User.Identity.Name.Split('|')[1] == "SP")
                                                            {
                                                                @small.Name
                                                            }
                                                            else
                                                            {
                                                                <a href="\Home\AreaReport\@small.Value">@small.Name</a>
                                                            }
                                                            <ul style="display: none;">
                                                            @if (small.Nodes != null && small.Nodes.Count > 0)
                                                            {
                                                                foreach (Report4Car.Dtos.TreeNode shop in small.Nodes)
                                                                {
                                                                    <li><a href="\Home\DistributorReport\@shop.Value">@shop.Name</a></li>
                                                                }
                                                            }
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerytablefunc");
    <script type="text/javascript">
        $("#tree_view").treeview({
            collapsed: true
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
